@use "./fonts/gotham" as *;
@use "./fonts/ptsans" as *;

// -- CORES DE TEXTO --
$text-heading: #ffffff;
$text-body: #8a959b;
$text-subheading: #f80d5a;
$text-caption: #949b99;
$text-highlight: #d5dbd3;
$text-overline: #ffffff;
$text-muted: #0b0c0d;
$text-disabled: #454c4f;

// -- CORES DE FUNDO / DIVS --
$background-primary: #000000;
$background-navbar: #202121;

// -- CORES DE BORDAS E DIVISORES --
$divider: #f80d5a;
$border-primary: #949b99;
$border-secondary: #ed145b;
$border-inverse: #ffffff;

// -- FONTES --
$font-primary-family: "Gotham HTF Medium", sans-serif;
$font-primary-family-ultra: "Gotham HTF Ultra", sans-serif;
$font-secondary-family: "PT Sans Regular", sans-serif;

// -- FONT SIZES --
$font-size-heading-xl: clamp(2rem, 5.7vw, 6.875rem); //110px;
$font-size-heading-lg: clamp(3rem, 4.3vw, 5.2rem); //83px;
$font-size-heading-md: 55px;

$font-size-muted-xl: clamp(4rem, 18.2vw, 21.875rem); //350px;

$font-size-disabled: clamp(4rem, 7.5vw, 9rem); //144px;

$font-size-subheading: 70px;
$font-size-overline: 20px;
$font-size-highlight: 17px;

$font-size-body-lg: 22px;
$font-size-body-md: 16px;
$font-size-body-sm: 13px;
